
#rightContainer1{
  display: block;
}
#rightContainer2{
  display: none;
}
#sideBoard {
  margin-top: 20px;
  height: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 4vmin;
  overflow: scroll;
}
#sideBoard::-webkit-scrollbar { width: 0 !important }
#sideBoard{ overflow: -moz-scrollbars-none; -ms-overflow-style: none; }
#onlineUser,#offlineUser {cursor: pointer;}
#onlineUser::before {
  color: lime;
  content: "\2022";
  font-size: 1em;
  padding-right: 1.12em; 
  position: relative;
  top: 0em; 
}
#offlineUser::before {
  color: red;
  content: "\2022";
  font-size: 1em;
  padding-right: 1.12em; 
  position: relative;
  top: 0em; 
}

#messageBoard {
  height: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5vmin;
  padding-right: 5vmin;
  font-size: 4vmin;
  overflow: scroll;
}
#messageBoard::-webkit-scrollbar { width: 0 !important }
#messageBoard{ overflow: -moz-scrollbars-none; -ms-overflow-style: none; }
#messageBox {
  width: 100%
}
#message1{ 
  text-align: right;
  color: rgb(36, 36, 36);
}
#message2{
  text-align: left;
  color: rgb(0, 7, 100);
}